.elementor-308 .elementor-element.elementor-element-1a423c8>.elementor-container {
    max-width: 1170px;
}

.elementor-308 .elementor-element.elementor-element-1a423c8:not(.elementor-motion-effects-element-type-background),
.elementor-308 .elementor-element.elementor-element-1a423c8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-308 .elementor-element.elementor-element-1a423c8>.elementor-background-overlay {
    opacity: 0.04;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-308 .elementor-element.elementor-element-1a423c8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 10px 20px 10px;
}

.elementor-308 .elementor-element.elementor-element-8c8aa0d>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 10px 0px 10px;
}

.elementor-308 .elementor-element.elementor-element-400e73a>.elementor-container {
    max-width: 1170px;
}

.elementor-308 .elementor-element.elementor-element-400e73a>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-308 .elementor-element.elementor-element-400e73a {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #62626270;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0px 0px 40px 0px;
}

.elementor-308 .elementor-element.elementor-element-400e73a,
.elementor-308 .elementor-element.elementor-element-400e73a>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-400e73a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-308 .elementor-element.elementor-element-3879d1e.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-308 .elementor-element.elementor-element-3879d1e>.elementor-element-populated {
    margin: 0px 100px 0px 0px;
    --e-column-margin-right: 100px;
    --e-column-margin-left: 0px;
}

.elementor-308 .elementor-element.elementor-element-55b2f85.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-279bb1b);
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-308 .elementor-element.elementor-element-55b2f85.elementor-view-framed .elementor-icon,
.elementor-308 .elementor-element.elementor-element-55b2f85.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-279bb1b);
    color: var( --e-global-color-279bb1b);
    border-color: var( --e-global-color-279bb1b);
}

.elementor-308 .elementor-element.elementor-element-55b2f85.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-308 .elementor-element.elementor-element-55b2f85 {
    --icon-box-icon-margin: 31px;
}

.elementor-308 .elementor-element.elementor-element-55b2f85 .elementor-icon {
    font-size: 34px;
    padding: 18px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-55b2f85 .elementor-icon-box-title {
    margin-bottom: 5px;
    color: #FFFFFF;
}

.elementor-308 .elementor-element.elementor-element-55b2f85 .elementor-icon-box-title,
.elementor-308 .elementor-element.elementor-element-55b2f85 .elementor-icon-box-title a {
    font-family: var( --e-global-typography-d8eb1ac-font-family), Sans-serif;
    font-size: var( --e-global-typography-d8eb1ac-font-size);
    font-weight: var( --e-global-typography-d8eb1ac-font-weight);
    line-height: var( --e-global-typography-d8eb1ac-line-height);
    letter-spacing: var( --e-global-typography-d8eb1ac-letter-spacing);
    word-spacing: var( --e-global-typography-d8eb1ac-word-spacing);
}

.elementor-308 .elementor-element.elementor-element-55b2f85 .elementor-icon-box-description {
    color: #FFFFFF;
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-308 .elementor-element.elementor-element-6c2bd20.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-308 .elementor-element.elementor-element-6c2bd20>.elementor-element-populated {
    padding: 30px 20px 30px 80px;
}

.elementor-308 .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp .jkit-form-control {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    border-radius: 0px 0px 0px 0px;
    padding: 22px 20px 22px 20px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-input-wrapper:not(.jkit-submit-input-holder) {
    margin-right: -142px;
}

.elementor-308 .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp .jkit-form-control::placeholder {
    color: var( --e-global-color-text);
}

.elementor-308 .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-submit-input-holder {
    align-self: center;
}

.elementor-308 .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp .jkit-mailchimp-submit {
    font-family: var( --e-global-typography-d137054-font-family), Sans-serif;
    font-size: var( --e-global-typography-d137054-font-size);
    font-weight: var( --e-global-typography-d137054-font-weight);
    line-height: var( --e-global-typography-d137054-line-height);
    letter-spacing: var( --e-global-typography-d137054-letter-spacing);
    word-spacing: var( --e-global-typography-d137054-word-spacing);
    border-radius: 0px 0px 0px 0px;
    padding: 11px 30px 11px 30px;
    background-color: var( --e-global-color-accent);
}

.elementor-308 .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp .jkit-mailchimp-submit:hover {
    background-color: var( --e-global-color-05e04e5);
}

.elementor-308 .elementor-element.elementor-element-10ab845>.elementor-widget-container {
    margin: 20px 18px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-4a4f226>.elementor-container {
    max-width: 1290px;
}

.elementor-308 .elementor-element.elementor-element-4a4f226 {
    margin-top: 60px;
    margin-bottom: 0px;
}

.elementor-308 .elementor-element.elementor-element-64d4c07>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 49px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-64d4c07>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-308 .elementor-element.elementor-element-8043fd5 .elementor-heading-title {
    color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-7b68d5b-font-family), Sans-serif;
    font-size: var( --e-global-typography-7b68d5b-font-size);
    font-weight: var( --e-global-typography-7b68d5b-font-weight);
    line-height: var( --e-global-typography-7b68d5b-line-height);
    letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
    word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
}

.elementor-308 .elementor-element.elementor-element-4562614 {
    color: var( --e-global-color-3bfb353);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-308 .elementor-element.elementor-element-4562614>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-69d4f35 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 20px;
    --grid-row-gap: 0px;
}

.elementor-308 .elementor-element.elementor-element-69d4f35 .elementor-widget-container {
    text-align: left;
}

.elementor-308 .elementor-element.elementor-element-69d4f35 .elementor-social-icon {
    background-color: #212121;
    --icon-padding: 0.7em;
}

.elementor-308 .elementor-element.elementor-element-69d4f35 .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-308 .elementor-element.elementor-element-69d4f35 .elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-308 .elementor-element.elementor-element-69d4f35 .elementor-icon {
    border-radius: 0px 0px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-69d4f35 .elementor-social-icon:hover {
    background-color: var( --e-global-color-accent);
}

.elementor-308 .elementor-element.elementor-element-69d4f35>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-b5946f3>.elementor-element-populated {
    padding: 0px 0px 0px 10px;
}

.elementor-308 .elementor-element.elementor-element-9df3408 .elementor-heading-title {
    color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-7b68d5b-font-family), Sans-serif;
    font-size: var( --e-global-typography-7b68d5b-font-size);
    font-weight: var( --e-global-typography-7b68d5b-font-weight);
    line-height: var( --e-global-typography-7b68d5b-line-height);
    letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
    word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
}

.elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-icon i {
    color: var( --e-global-color-279bb1b);
}

.elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-279bb1b);
}

.elementor-308 .elementor-element.elementor-element-8c95a34 {
    --e-icon-list-icon-size: 14px;
}

.elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-text {
    color: #FFFFFF;
}

.elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-accent);
}

.elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-308 .elementor-element.elementor-element-8c95a34>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-d63ae38>.elementor-element-populated {
    padding: 0px 0px 0px 10px;
}

.elementor-308 .elementor-element.elementor-element-007908b .elementor-heading-title {
    color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-7b68d5b-font-family), Sans-serif;
    font-size: var( --e-global-typography-7b68d5b-font-size);
    font-weight: var( --e-global-typography-7b68d5b-font-weight);
    line-height: var( --e-global-typography-7b68d5b-line-height);
    letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
    word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
}

.elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-icon i {
    color: var( --e-global-color-279bb1b);
}

.elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-279bb1b);
}

.elementor-308 .elementor-element.elementor-element-eb7f0a7 {
    --e-icon-list-icon-size: 14px;
}

.elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-text {
    color: #FFFFFF;
}

.elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-accent);
}

.elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-308 .elementor-element.elementor-element-eb7f0a7>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-89b0e4c>.elementor-element-populated {
    margin: 0px 0px 0px 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 30px;
}

.elementor-308 .elementor-element.elementor-element-68dba41 .elementor-heading-title {
    color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-7b68d5b-font-family), Sans-serif;
    font-size: var( --e-global-typography-7b68d5b-font-size);
    font-weight: var( --e-global-typography-7b68d5b-font-weight);
    line-height: var( --e-global-typography-7b68d5b-line-height);
    letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
    word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
}

.elementor-308 .elementor-element.elementor-element-68dba41>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-icon i {
    color: var( --e-global-color-accent);
}

.elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-308 .elementor-element.elementor-element-6ccd331 {
    --e-icon-list-icon-size: 14px;
    width: auto;
    max-width: auto;
}

.elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-text {
    color: var( --e-global-color-3bfb353);
}

.elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-308 .elementor-element.elementor-element-6ccd331>.elementor-widget-container {
    margin: 0px 40px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-icon i {
    color: var( --e-global-color-accent);
}

.elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-308 .elementor-element.elementor-element-1c068c3 {
    --e-icon-list-icon-size: 14px;
    width: auto;
    max-width: auto;
}

.elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-text {
    color: var( --e-global-color-3bfb353);
}

.elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-308 .elementor-element.elementor-element-0795dee>.elementor-container {
    max-width: 1170px;
}

.elementor-308 .elementor-element.elementor-element-0795dee>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-308 .elementor-element.elementor-element-0795dee {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #62626270;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 80px;
    margin-bottom: 0px;
    padding: 20px 0px 0px 0px;
}

.elementor-308 .elementor-element.elementor-element-0795dee>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-308 .elementor-element.elementor-element-ff2d343 {
    color: #8B8B8B;
}

.elementor-308 .elementor-element.elementor-element-aa2ff89 {
    text-align: center;
}

.elementor-308 .elementor-element.elementor-element-aa2ff89 img {
    width: 36%;
}

.elementor-308 .elementor-element.elementor-element-d4f4ad1 {
    text-align: right;
    color: #8B8B8B;
}

@media(max-width:1024px) {
    .elementor-308 .elementor-element.elementor-element-1a423c8 {
        padding: 0px 10px 20px 10px;
    }
    .elementor-308 .elementor-element.elementor-element-3879d1e>.elementor-element-populated {
        margin: 0px 40px 20px 40px;
        --e-column-margin-right: 40px;
        --e-column-margin-left: 40px;
    }
    .elementor-308 .elementor-element.elementor-element-55b2f85 .elementor-icon-box-title,
    .elementor-308 .elementor-element.elementor-element-55b2f85 .elementor-icon-box-title a {
        font-size: var( --e-global-typography-d8eb1ac-font-size);
        line-height: var( --e-global-typography-d8eb1ac-line-height);
        letter-spacing: var( --e-global-typography-d8eb1ac-letter-spacing);
        word-spacing: var( --e-global-typography-d8eb1ac-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-55b2f85 .elementor-icon-box-description {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-6c2bd20>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-308 .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp .jkit-form-control {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp .jkit-mailchimp-submit {
        font-size: var( --e-global-typography-d137054-font-size);
        line-height: var( --e-global-typography-d137054-line-height);
        letter-spacing: var( --e-global-typography-d137054-letter-spacing);
        word-spacing: var( --e-global-typography-d137054-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-8043fd5 .elementor-heading-title {
        font-size: var( --e-global-typography-7b68d5b-font-size);
        line-height: var( --e-global-typography-7b68d5b-line-height);
        letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
        word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-4562614 {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-9df3408 .elementor-heading-title {
        font-size: var( --e-global-typography-7b68d5b-font-size);
        line-height: var( --e-global-typography-7b68d5b-line-height);
        letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
        word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-d63ae38>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }
    .elementor-308 .elementor-element.elementor-element-007908b .elementor-heading-title {
        font-size: var( --e-global-typography-7b68d5b-font-size);
        line-height: var( --e-global-typography-7b68d5b-line-height);
        letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
        word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-89b0e4c>.elementor-element-populated {
        margin: 40px 0px 0px 10px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 10px;
    }
    .elementor-308 .elementor-element.elementor-element-68dba41 .elementor-heading-title {
        font-size: var( --e-global-typography-7b68d5b-font-size);
        line-height: var( --e-global-typography-7b68d5b-line-height);
        letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
        word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-0795dee {
        margin-top: 60px;
        margin-bottom: 0px;
    }
    .elementor-308 .elementor-element.elementor-element-ff2d343 {
        text-align: center;
    }
    .elementor-308 .elementor-element.elementor-element-20fc98c>.elementor-element-populated {
        margin: 20px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-308 .elementor-element.elementor-element-aa2ff89 img {
        width: 30%;
    }
    .elementor-308 .elementor-element.elementor-element-d4f4ad1 {
        text-align: center;
    }
}

@media(max-width:767px) {
    .elementor-308 .elementor-element.elementor-element-1a423c8 {
        padding: 0px 10px 20px 10px;
    }
    .elementor-308 .elementor-element.elementor-element-3879d1e>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-308 .elementor-element.elementor-element-55b2f85 .elementor-icon-box-title,
    .elementor-308 .elementor-element.elementor-element-55b2f85 .elementor-icon-box-title a {
        font-size: var( --e-global-typography-d8eb1ac-font-size);
        line-height: var( --e-global-typography-d8eb1ac-line-height);
        letter-spacing: var( --e-global-typography-d8eb1ac-letter-spacing);
        word-spacing: var( --e-global-typography-d8eb1ac-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-55b2f85 .elementor-icon-box-description {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-6c2bd20>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-308 .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp .jkit-form-control {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp .jkit-mailchimp-submit {
        font-size: var( --e-global-typography-d137054-font-size);
        line-height: var( --e-global-typography-d137054-line-height);
        letter-spacing: var( --e-global-typography-d137054-letter-spacing);
        word-spacing: var( --e-global-typography-d137054-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-4a4f226 {
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .elementor-308 .elementor-element.elementor-element-64d4c07>.elementor-element-populated {
        padding: 0px 20px 0px 0px;
    }
    .elementor-308 .elementor-element.elementor-element-8043fd5 .elementor-heading-title {
        font-size: var( --e-global-typography-7b68d5b-font-size);
        line-height: var( --e-global-typography-7b68d5b-line-height);
        letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
        word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-4562614 {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-4562614>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-308 .elementor-element.elementor-element-69d4f35>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }
    .elementor-308 .elementor-element.elementor-element-b5946f3>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-308 .elementor-element.elementor-element-9df3408 .elementor-heading-title {
        font-size: var( --e-global-typography-7b68d5b-font-size);
        line-height: var( --e-global-typography-7b68d5b-line-height);
        letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
        word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-308 .elementor-element.elementor-element-8c95a34 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-d63ae38>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-308 .elementor-element.elementor-element-007908b .elementor-heading-title {
        font-size: var( --e-global-typography-7b68d5b-font-size);
        line-height: var( --e-global-typography-7b68d5b-line-height);
        letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
        word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-308 .elementor-element.elementor-element-eb7f0a7 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-89b0e4c>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-308 .elementor-element.elementor-element-68dba41 .elementor-heading-title {
        font-size: var( --e-global-typography-7b68d5b-font-size);
        line-height: var( --e-global-typography-7b68d5b-line-height);
        letter-spacing: var( --e-global-typography-7b68d5b-letter-spacing);
        word-spacing: var( --e-global-typography-7b68d5b-word-spacing);
    }
    .elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-308 .elementor-element.elementor-element-6ccd331 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-308 .elementor-element.elementor-element-1c068c3 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-308 .elementor-element.elementor-element-0795dee {
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .elementor-308 .elementor-element.elementor-element-ff2d343 {
        text-align: center;
    }
    .elementor-308 .elementor-element.elementor-element-aa2ff89 img {
        width: 65%;
    }
    .elementor-308 .elementor-element.elementor-element-f62a6ef>.elementor-element-populated {
        margin: 10px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-308 .elementor-element.elementor-element-d4f4ad1 {
        text-align: center;
    }
}

@media(min-width:768px) {
    .elementor-308 .elementor-element.elementor-element-3879d1e {
        width: 49.999%;
    }
    .elementor-308 .elementor-element.elementor-element-6c2bd20 {
        width: 50.001%;
    }
    .elementor-308 .elementor-element.elementor-element-64d4c07 {
        width: 29.731%;
    }
    .elementor-308 .elementor-element.elementor-element-b5946f3 {
        width: 21.114%;
    }
    .elementor-308 .elementor-element.elementor-element-d63ae38 {
        width: 20.344%;
    }
    .elementor-308 .elementor-element.elementor-element-89b0e4c {
        width: 28.789%;
    }
    .elementor-308 .elementor-element.elementor-element-e0cbe1f {
        width: 33%;
    }
    .elementor-308 .elementor-element.elementor-element-20fc98c {
        width: 34%;
    }
    .elementor-308 .elementor-element.elementor-element-f62a6ef {
        width: 32.666%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-308 .elementor-element.elementor-element-3879d1e {
        width: 100%;
    }
    .elementor-308 .elementor-element.elementor-element-6c2bd20 {
        width: 100%;
    }
    .elementor-308 .elementor-element.elementor-element-64d4c07 {
        width: 50%;
    }
    .elementor-308 .elementor-element.elementor-element-b5946f3 {
        width: 50%;
    }
    .elementor-308 .elementor-element.elementor-element-d63ae38 {
        width: 50%;
    }
    .elementor-308 .elementor-element.elementor-element-89b0e4c {
        width: 50%;
    }
    .elementor-308 .elementor-element.elementor-element-e0cbe1f {
        width: 100%;
    }
    .elementor-308 .elementor-element.elementor-element-20fc98c {
        width: 100%;
    }
    .elementor-308 .elementor-element.elementor-element-f62a6ef {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-form-wrapper.extra-fields .jkit-submit-input-holder {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-10ab845 .jeg-elementor-kit.jkit-mailchimp.jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-form-wrapper.extra-fields .jkit-input-wrapper:nth-last-child(2) {
        margin-right: 0 !important;
    }
}